@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/poppins";
body {
  font-family: "Poppins", sans-serif;
  background-color: #004d40; /* deep green background */
  color: #ffffff; /* white text */
}
